<%- include("../header.html", {}) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="/css/index.css"> 
<link rel="stylesheet" href="/css/plant.css">
<meta property="og:url"           content="/" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Plant your mood" />
<meta property="og:description"   content="記錄今天的植物" />
<meta property="og:image"         content="/img/p2.png" />

<%- include("../inner.html", { userName: userName }) %>
<div class="container">
    <div class="row">
       <h1 class="name justify-content-center">Plant your mood</h1>
       <div class="col-lg-6 col-sm-12 offset-lg-3">
           <div class="box  justify-content-center">
                <h3>Today's <%= userName %> </h3>
            
                <div class="plant">
                  <div id="p1">
                      <div class="leaf middle item"></div>
                      <div class="leaf left item"></div>
                      <div class="leaf right item"></div>
                      <div class="shadow item"></div>
                      <div class="pot item"></div>
                  </div>
                </div>
                <div class="element d-flex justify-content-center align-self-end">
                    <div class="group facebook-share">
                      <button class="fb" data-js="facebook-share"><i class="fa fa-facebook"></i> facebook </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script type="text/javascript">
    var facebookShare = document.querySelector('[data-js="facebook-share"]');

    facebookShare.onclick = function(e) {
      e.preventDefault();
      var facebookWindow = window.open('https://www.facebook.com/sharer/sharer.php?u=' + document.URL, 'facebook-popup', 'height=350,width=600');
      if(facebookWindow.focus) { facebookWindow.focus(); }
        return false;
    }

        
        
        
    </script>
</body>
</html>
