<style>
.ui-table-columntoggle-btn {
    display: none;
}
</style>
</head>
<body>
    
    <nav class="navbar navbar-light navbar-expand-sm" style="background-color: #ade1e5;">
        <button class="navbar-toggler" type="button"  data-target="#navbarNavAltMarkup" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/home/index">Home</a>
                    <% if (userName) { %>
                    <a class="nav-item nav-link" href="/member/logout">Sign out</a>
                    <% } else  { %>
                    <a class="nav-item nav-link" href="/member/login">Login</a>
                    <% } %>
                    <a class="nav-item nav-link" href="/home/member">Diary</a>
                </div>
        </div>
            
    </nav>
        
    